/* global.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-color: #f4f4f9;
}

.page-content {
    padding-top: 60px;
    /* Adjust this value based on the navbar height */
}

#app {
    margin: 20px;
}